<%
const meta = {
  id: '',
  title: '',
  description: '',
  keywords: '',
  filePath: './',
  url: '',
  canonical: '',
  bp : '(max-width: 959px)'
}
%>

<%- include('./templates/_head', {meta: meta}) %>
<%- include('./templates/_header', {meta: meta}) %>

<main class="p-<%= meta.id %>__main">
  <h1><%= site.title %></h1>
</main>
<%- include('./templates/_footer', {meta: meta}) %>